<h1 class="text-center">Products</h1>

<%= render 'brands/dashboard' %>

<div class="container">
	<div class="row">
		<h1 class="text-center">Products</h1>
		<div class="text-center">
			<!-- <%= link_to "New Collections", new_book_path, class: "btn btn-primary btn-sm" %>  -->
		</div>
		<div class="clearfix"></div>
		<div class="col-md-4">
			<div class="dash-box">
				<h4 class="white uppercase">
					Products
				</h4>
			</div>
			<!--	<%= render "books" %>  -->
		</div>


	</div>
</div>