<h1 class="text-center">Products</h1>

  <div class="col-md-3">
    <div class="thumbnail">
      <%= link_to product_path(product) do %>
      
      <% end %>
      <div class="caption">
        <h5><strong><%= link_to product.name_products, product_path(product) %></strong></h5>
        
      </div>
    </div>
  </div>